@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ABeeZee', sans-serif;
    line-height: 1.2;
    font-size: .875rem;
}

.divider::after{
    content: "";
    height: 0.9375rem;
    width: 0;
    border-left: 1px solid hsla(0,0%,100%,.22);
    border-right: 1px solid hsla(0,0%,100%,.22);
    position: absolute;
    left: -6px;
    top: calc(50% - 7px);
}

/* Shopee logo */
 

/* End */
.shadowBox{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.square-divider::before{
    content: "";
    border-width:20px;
    position: absolute;
    display: block;
    top: -30px;
    border-color: transparent transparent white transparent;
    right:20px
}


.variant-checked{
    position: absolute;
    display: block;
    right:-0.5px;
    bottom:-0.5px;
    z-index: 100;
    border-color: #f53d2d;
}

.showNotification::after,.showLanguage::after,.showMenuCart::after{
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 20px;
    background: transparent;
    top: 15px;
    right:0;
}


.showNotification:hover{
    cursor: pointer;
}

.showNotification:hover .menuNotify{
    display: flex;
}

.showMenuCart:hover .menuCart{
    display: block;
}

.showMenuUser:hover .menuUser{
    display: flex;
}

.showLanguage:hover .menuLanguage{
    display: block;
}

.showMenuPrice:hover .menuPrice{
    display: block;
}

@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.menuNotify, .menuLanguage,.menuUser,.menuCart{
    transform-origin: top right;
    animation: headerNotifyGrowth ease-in 0.3s;
}


.swiper-pagination-bullet-active{
    background-color: #f53d2d !important;
}

.parentProductSame:hover .productSame{
    display: block;
    z-index: 100;
}

.showMenuUser::after{
    content: "";
    position: absolute;
    display: block;
    width: 150px;
    height: 20px;
    background: transparent;
    top: 15px;
    right:0;
}


.animateOpacity{
    animation: ease-in opacityShow 0.3s;
}

@keyframes opacityShow {
    from {
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}